<div class="card">
  <div class="card-header">{{ hero.casa }}</div>
  <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre" />
  <div class="card-body">
    <h5 class="card-title animated fadeIn fast">{{ hero.nombre }}</h5>
    <p class="card-text animated fadeIn fast">
      {{ hero.bio }}
    </p>
    <p class="card-text">
      <small class="text-muted">{{ hero.aparicion }}</small>
    </p>
    <button (click)="showHero()" class="btn btn-outline-primary btn-block">
      Btn More...
    </button>
    <a
      [routerLink]="['/heroe', index]"
      class="btn btn-outline-primary btn-block"
      >A More...</a
    >
  </div>
</div>
