<div class="container">
  <h1>Heroes <small>Marvel y DC</small></h1>
  <hr />
  <div class="card-columns">
    <div class="card" *ngFor="let hero of heroes; let i = index">
      <div class="card-header">{{ hero.casa }}</div>
      <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre" />
      <div class="card-body">
        <h5 class="card-title animated fadeIn fast">{{ hero.nombre }}</h5>
        <p class="card-text animated fadeIn fast">
          {{ hero.bio }}
        </p>
        <p class="card-text">
          <small class="text-muted">{{ hero.aparicion }}</small>
        </p>
        <button (click)="viewHero(i)" class="btn btn-outline-primary btn-block">
          Btn More...
        </button>
        <a
          [routerLink]="['/heroe', i]"
          class="btn btn-outline-primary btn-block"
          >A More...</a
        >
      </div>
    </div>
  </div>
</div>
